.search-bar input{
    width: 70rem;
}

.search-icon{
    background-color: #FF9900;
}

.language{
    color: gray;
}

.options-bar{
    background-color: #232F3F;
}

.options-text span{
    padding: 2rem;
}